<div class="row">
  <div class="col-md-8">
    <kendo-grid 
    [data]="listaGridEmpresas"  
    [height]="410" 
    [selectable]="true"
    [selectable]="{ checkboxOnly: false, mode: 'single' }"  
    [kendoGridSelectBy]="'idCompany'"
    [selectedKeys]="selectedKeys"> 
    <kendo-grid-column field="idCompany" title="ID" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Nombre" width="150">
    </kendo-grid-column> 
    <kendo-grid-column field="phoneNumber" title="Número de telefono" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Dirección" width="150">
    </kendo-grid-column> 
    <kendo-grid-column field="idLocalidad" title="ID Localidad" width="150">
    </kendo-grid-column>  
  </kendo-grid>  
  <div class="form-inline">
    <button class="btn btn-success"  (click)="OnClickProducts()">Ver Productos</button>
  </div>
  <kendo-grid 
    [data]="listaGridEmpresas"  
    [height]="410" 
    [selectable]="true"
    [selectable]="{ checkboxOnly: false, mode: 'single' }"  
    [kendoGridSelectBy]="'idCompany'"
    [selectedKeys]="selectedKeys"> 
    <kendo-grid-column field="idCompany" title="ID" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Nombre" width="150">
    </kendo-grid-column> 
    <kendo-grid-column field="phoneNumber" title="Número de telefono" width="150">
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Dirección" width="150">
    </kendo-grid-column> 
    <kendo-grid-column field="idLocalidad" title="ID Localidad" width="150">
    </kendo-grid-column>  
  </kendo-grid>  
  </div>
</div> 