<div class="row">
  <div class="col-md-8">
      <h2>Lista de Empresas</h2>
    <kendo-grid [data]="listaGridEmpresas" [height]="410" [selectable]="true"
      [selectable]="{ checkboxOnly: false, mode: 'single' }" [kendoGridSelectBy]="'idCompany'"
      [selectedKeys]="selectedKeysEmpresa">
      <kendo-grid-column field="idCompany" title="ID" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Nombre" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="phoneNumber" title="Número de telefono" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="address" title="Dirección" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="idLocalidad" title="ID Localidad" width="150">
      </kendo-grid-column>
    </kendo-grid>
    <div class="form-inline" style="padding: 5px">
      <button class="btn btn-success" (click)="OnClickProducts()">Ver Productos</button>
    </div>
    <div *ngIf="listaGridProductos.length !== 0">
        <h2>Lista de Productos {{ nombreEmpresaSeleccionada }}</h2>
    <kendo-grid [data]="listaGridProductos" [height]="410" [selectable]="true"
      [selectable]="{ checkboxOnly: false, mode: 'single' }" [kendoGridSelectBy]="'idProduct'"
      [selectedKeys]="selectedKeysProducto">
      <kendo-grid-column field="idProduct" title="ID" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Nombre" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="claveProductoServicio" title="clave SAT" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="calidad" title="Calidad" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="startOfHarvest" title="Inicio Cosecha" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="endOfHarvest" title="Fin Cosecha" width="150">
      </kendo-grid-column>
      <kendo-grid-column field="cuantityInKG" title="Cantidad en KG" width="150">
      </kendo-grid-column>
    </kendo-grid>
   </div>
    <form [formGroup]="formaProducto" (ngSubmit)="OnSubmitFormaProducto()">
      <div class="form-group">
        <label for="nombreProducto">Nombre Producto</label>
        <input type="text" id="nombreProducto" class="form-control" formControlName="nombreProducto">
        <span *ngIf="!formaProducto.get('nombreProducto').valid && formaProducto.get('nombreProducto').touched"
          class="help-block">Ingrese un nombre para el producto.</span>
      </div>
      <div class="form-group">
          <label for="nombreProducto">Categoría SAT</label>
          <label for="nombreProducto">Los nombres de producto tienen la primera letra en mayuscula por ejemplo "Papaya".</label>
          <label for="nombreProducto">Si no encuentra el producto puede buscar el nombre exacto <a href="https://www.sat.gob.mx/consultas/53693/catalogo-de-productos-y-servicios" target="_blank" rel="noopener noreferrer">aquí</a>.</label>
          <div>
        <kendo-autocomplete [data]="lstProductos" [placeholder]="'Seleccione un producto'" [valueField]="'descripcion'"
          [filterable]="true" (filterChange)="handleFilter($event)" formControlName="claveProducto">
        </kendo-autocomplete>
      </div>
      </div>

      
      <div class="form-inline"> Calidad del producto </div>
      <div class="form-inline" *ngFor="let cal of calidad">

        <label for="calidad">
          <input type="radio" [value]="cal" id="calidad" formControlName="calidad">{{cal}}
        </label>
      </div>

      <div class="form-group">
        <label for="inicioDeCosecha">Inicio de cosecha</label>
        <input type="date" id="inicioDeCosecha" class="form-control" formControlName="inicioDeCosecha">
        <span *ngIf="!formaProducto.get('inicioDeCosecha').valid && formaProducto.get('inicioDeCosecha').touched"
          class="help-block">Ingresa la
          Inicio de cosecha</span>
      </div>

      <div class="form-group">
        <label for="finDeCosecha">Fin de cosecha</label>
        <input type="date" id="finDeCosecha" class="form-control" formControlName="finDeCosecha">
        <span *ngIf="!formaProducto.get('finDeCosecha').valid && formaProducto.get('finDeCosecha').touched"
          class="help-block">Ingresa la
          Fin de cosecha</span>
      </div>

      <div class="form-group">
        <label for="CantidadEnKG">Cantidad en KG</label>
        <input type="number" id="CantidadEnKG" class="form-control" formControlName="CantidadEnKG">
        <span *ngIf="!formaProducto.get('CantidadEnKG').valid && formaProducto.get('CantidadEnKG').touched"
          class="help-block">Ingresa la
          cantidad en KG</span>
      </div>

 
    </form>
    <div class="form-inline">
      <div style="padding: 5px"><button class="btn btn-success" (click)="OnSubmitFormaProducto()" [disabled]="!formaProducto.valid ">Agregar Producto</button></div>
      <div style="padding: 5px"> <button class="btn btn-primary" (click)="OnClickUpdateProducto()" [disabled]="!formaProducto.valid || !selectedKeysProducto[0]">Editar Producto</button>
      </div>
      <div style="padding: 5px"> <button class="btn btn-danger" (click)="OnClickDeleteProducto()" [disabled]="!selectedKeysProducto[0]" >Eliminar Producto</button>
      </div>
    </div>
    <div class="form-inline">
         </div>
    <div class="form-inline">
       </div>

  </div>
</div>