<div class="row">
  <div class="col-md-6">
    <form [formGroup]="formaUsuario" (ngSubmit)="onSubmitFormaUsuario()">
      <div class="form-group">
        <label for="nombreCompletoUsuario">Nombre Completo</label>
        <input type="text" id="nombreCompletoUsuario" class="form-control" formControlName="nombreCompletoUsuario">
        <span
          *ngIf="!formaUsuario.get('nombreCompletoUsuario').valid && formaUsuario.get('nombreCompletoUsuario').touched"
          class="help-block">Ingresa un nombre</span>
      </div>
      <div class="form-group">
        <label for="estado">Estado</label>
        <kendo-autocomplete id="estado" name="estado" [data]="lstEstado" [placeholder]="'Seleccione un estado'"
          [valueField]="'nombre'" ngModel aria-required="Introdusca el estado" formControlName="estado">
        </kendo-autocomplete>
        <span *ngIf="!formaUsuario.get('estado').valid && formaUsuario.get('estado').touched" class="help-block">Ingresa
          un Estado</span>
      </div>
      <div class="form-group">
        <label for="municipio">Municipio</label>
        <kendo-autocomplete id="municipio" name="municipio" [data]="lstMunicipios"
          [placeholder]="'Seleccione un municipio'" [valueField]="'nombre'" ngModel
          aria-required="Introdusca el municipio" formControlName="municipio">
        </kendo-autocomplete>

        <span *ngIf="!formaUsuario.get('municipio').valid && formaUsuario.get('municipio').touched"
          class="help-block">Ingresa un municipio valido</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="OnClickObtenerMunicipios()">Obtener municipios</button>
      </div>
      <div class="form-group">
        <label for="localidad">Localidad</label>
        <kendo-autocomplete id="localidad" name="localidad" [data]="lstLocalidad"
          [placeholder]="'Seleccione un localidad'" [valueField]="'nombre'" ngModel
          aria-required="Introdusca la localidad" formControlName="localidad">
        </kendo-autocomplete>
        <span *ngIf="!formaUsuario.get('localidad').valid && formaUsuario.get('localidad').touched"
          class="help-block">Ingresa un localidad valida</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="OnClickObtenerLocalidad()">Obtener localidades</button>
      </div>

      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" class="form-control" formControlName="direccion">
        <span *ngIf="!formaUsuario.get('direccion').valid && formaUsuario.get('direccion').touched"
          class="help-block">Ingresa una dirección</span>
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" class="form-control" formControlName="telefono">
        <span *ngIf="!formaUsuario.get('telefono').valid && formaUsuario.get('telefono').touched"
          class="help-block">Ingresa un telefono</span>
      </div>

      <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" id="celular" class="form-control" formControlName="celular">
        <span *ngIf="!formaUsuario.get('celular').valid && formaUsuario.get('celular').touched"
          class="help-block">Ingresa un celular</span>
      </div>

      <div class="form-group">
        <label for="fechaDeNacimiento">Fecha de nacimiento</label>
        <input type="date" id="fechaDeNacimiento" class="form-control" formControlName="fechaDeNacimiento">
        <span *ngIf="!formaUsuario.get('fechaDeNacimiento').valid && formaUsuario.get('fechaDeNacimiento').touched" class="help-block">Ingresa su
          Fecha de nacimiento</span>
      </div>

      <div class="form-group">
        <label for="ocupacion">Ocupacion</label>
        <input type="text" id="ocupacion" class="form-control" formControlName="ocupacion">
        <span *ngIf="!formaUsuario.get('ocupacion').valid && formaUsuario.get('ocupacion').touched"
          class="help-block">Ingresa una ocupacion</span>
      </div>
      <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" id="cargo" class="form-control" formControlName="cargo">
        <span *ngIf="!formaUsuario.get('cargo').valid && formaUsuario.get('cargo').touched" class="help-block">Ingresa
          un cargo</span>
      </div>
      <div class="form-inline"> Genero </div>
      <div class="form-inline" *ngFor="let gen of generos">

        <label for="genero">
          <input type="radio" [value]="gen" id="genero" formControlName="genero">{{gen}}
        </label>
      </div>

      <div class="form-inline"> Estado civil </div>
      <div class="form-inline" *ngFor="let est of estadoCivil">

        <label for="estadoCivil">
          <input type="radio" [value]="est" id="estadoCivil" formControlName="estadoCivil">{{est}}
        </label>
      </div>

      <div class="form-group">
        <label for="CURP">CURP</label>
        <input type="text" id="CURP" class="form-control" formControlName="CURP">
        <span *ngIf="!formaUsuario.get('CURP').valid && formaUsuario.get('CURP').touched" class="help-block">Ingresa su
          CURP</span>
      </div>

      <div class="form-group">
        <label for="ClaveElector">Clave de Elector</label>
        <input type="text" id="ClaveElector" class="form-control" formControlName="ClaveElector">
        <span *ngIf="!formaUsuario.get('ClaveElector').valid && formaUsuario.get('ClaveElector').touched"
          class="help-block">Ingresa su Clave de elector</span>
      </div>

      <div class="form-group">
        <label for="ClaveINE">Número credencial INE</label>
        <input type="text" id="ClaveINE" class="form-control" formControlName="ClaveINE">
        <span *ngIf="!formaUsuario.get('ClaveINE').valid && formaUsuario.get('ClaveINE').touched"
          class="help-block">Ingresa su Clave de elector</span>
      </div>

      <div class="form-inline">
        <button class="btn btn-primary" type="submit" [disabled]="!formaUsuario.valid ">Guardar datos</button>
      </div>
    </form>
  </div>
</div>